<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div> 
</div>
<div class="side-contents">
  <div class="chat-rooms">
    <div class="room">  
      <a href="#">testroom1</a>
    </div>  
  </div>
  <div class="chat-rooms">  
    <div class="room">  
      <a href="#">testroom2</a>
    </div>
  </div> 
</div>