<div class="side-header">
  <a href="#" class="user-name">ユーザー名</a>
  <a href="#" class="start-chat">チャットを作成する</a>
</div>
<div class="side-contents">
  
    <a href="#" class="chat-room">testroom1</a>
    <a href="#" class="chat-room">testroom2</a>
    
  
</div>