.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.create-room a{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightgray;
}
.side-contents{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}
.chat-rooms{
  padding: 20px 0 40px;
} 
.room a { 
  color: white;
  text-decoration: none;
}

.main-chat {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}
.main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  
}
.left-header {
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  color: #333;
  padding-top: 36px;
}
.right-header a{
  text-decoration: none;
  display: inline-block;
  color: darkred;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid darkred;
}

.main-contents{
  height:  calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.messages{
  overflow: scroll;
}
.user-date{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.user{
  padding-right: 10px;
  font-size: 16px;
  color: #434a54;
}
.date{
  font-size: 12px;
  color: #999;
}
.text{
  font-size: 14px;
  color: #434a54;
}

.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
  
}
.form-input {
  background-color: white;
  width: 100vw;
  display: flex;
}  
.form-message{ 
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  
}
.form-submit{
  height: 50px;
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  margin-left: 15px;
  border: none;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}