.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}
.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.create-room a{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightgray;
}
.side-contents{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;

}
.chat-rooms{
  padding: 20px 0 40px;
} 
.room a { 
  color: white;
  text-decoration: none;
}
.main-chat {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}
.main-header{
  height: 100px;
  padding: 0 40px;
}
.main-contents{
  height:  calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}